$thumbwidth: 150px; /* Set to whatever width your actual thumbs are */

.grid-item {
    display: inline-block;
    vertical-align: top;
    width: $thumbwidth;
    margin: 0 10px 10px 0;
    &:nth-of-type(4) {
        margin-right: 0; /* Removes the margin on every third item (end of the row) */
    }
    .caption {
        padding: 5px 0;
    }
    a:hover {
        opacity: 0.5; /* This gives the whole thing a fade on hover */
    }
}
