/*===============================
=            ## Menus          =
===============================*/

/* Credit: http://terrillthompson.com/blog/474 */


.siteMenu {
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.current-menu-item a {
    color:$hoverColour;
}

// /*
// * Accessible nav setup
// * 
// * http://terrillthompson.com/blog/474
// * http://terrillthompson.com/tests/menus/accessible-mega-menu/test.html
// *
// */


// /* mega menu list */
.siteMenu--Main {
    position: relative;
    z-index: 15;

    // /* a top level navigation item in the mega menu */
    .menu-item {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    // /* first descendant link within a top level navigation item */
    .menu-item > a {
        position: relative;
        display: inline-block;
        padding: 0.5em 1em;
        margin: 0 0 -1px 0;
        border: 1px solid transparent;
    }

    // focus/open states of first descendant link within a top level navigation item */
    .menu-item > a:focus,
    .menu-item > a.open {
        border: 1px solid $colour4;
    }

    // /* open state of first descendant link within a top level navigation item */
    .menu-item > a.open {
        // /* background-color: #fff; */
        border-bottom: none;
        z-index: 1;
    }

    // /* sub-navigation panel */
    .sub-menu {
        position: absolute;
        display: none;
        top: 2.6em;
        margin-top: -1px;
        padding: 0.5em 1em;
        border: 1px solid $colour4;
        background-color: $white;
    }

    // /* sub-navigation panel open state */
    .sub-menu.open {
        display: block;
    }

    // /* list of items within sub-navigation panel */
    .sub-menu ul {
        display: inline-block;
        vertical-align: top;
        margin: 0 1em 0 0;
        padding: 0;
    }

    // /* list item within sub-navigation panel */
    .sub-menu li {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0; 

        a:focus,
        a:hover {
        	border:$border;
        }
    } 
} // .siteMenu--Main

/*=====  End of Menus  ====== */