/*========================================
=            ## Text Elements            =
========================================*/

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

strong {
}
em, i {
	font-style: italic;
}
blockquote {
	font-style: italic;
	font-weight: normal;
	margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
cite {
	color: #666;
	letter-spacing: 0.05em;
	padding-left: 60px;
}
pre {
	background: #f4f4f4;
	line-height: 1.5;
	margin-bottom: 1.5em;
	overflow: auto;
	padding: 0.75em 1.5em;
}
code, kbd {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
	border-bottom: $border;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 1.5em;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/*=====  End of Text Elements  ======*/