/*====================================
=            # Typography           =
====================================*/

body, input, textarea {
	@include body-font;
	@include normal-font-size;
	color: $text;
	word-wrap:break-word;
}

p {
	margin-bottom: 1.5em;
}

@import "headings";
@import "lists";
@import "text-elements";

/*=====  End of Typography  ======*/