###Wordpress###

*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
uploads/
upgrade/



###SublimeText###

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json


###SASS###

.sass-cache
*.css.map

### ignore ###
node_modules

### Back Up Plugin ###

backupwordpress-965dffb711-backups/
plugins/backupwordpress-pro-dropbox/

### Premium Plugins ###

plugins/advanced-custom-fields-pro