/*==================================
=            Filter Nav            =
==================================*/

.filterControls {
	margin-bottom:50px;
	// max-width:800px;
	margin:0 auto;
}

ul.filterNav {
	list-style-type: none;
	// margin: 0 auto;
} // ul.filterNav;

ul.filterNav li a {
	display:inline-block;
	float:left;
	text-align:center;
	padding:15px;
	margin:0 10px 0 10px;
}

a.filterControl{
	font-size:24px;
	text-transform:uppercase;
	text-decoration:none;
	color:lighten(purple,3%);
	&:hover {
		background: lighten(teal,10%);
		color:white; 
	}
} // li a.filterControl


/*-----  End of Filter Nav  ------*/