// =============================================
// =            Filter Content Styles            =
// =============================================*/

// div that holds items
.filterable {
	margin: 0 auto;	
}

// individual items (sections)
.filterableItem {
	display:inline-block;
	float:left;
	min-width:20%;
	margin:2em;
	// vertical centering technique:
	position:relative; // relative because it is the parent of the <p> element inside it
	word-wrap:break-word;
}

// item content 
// .filterableItem p {

	// vertical centering technique:
	// http://css-tricks.com/centering-css-complete-guide/

	// position:absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);

	//black backgroun:
	// background:lighten(black,15%);
// }
/*-----  End of Filter Content Styles  ------*/