// .entry-title,
.entry-title a {
	clear: both;
	color: $linkColour;
}

.entry-title a {
	&:focus, 
	&:hover {
		color:$hoverColour;
	}
}
.entry-meta {
	clear: both;
}

/* Handle sticky posts */
.sticky {	
}