.access {
	float:left;
}

.menu,
.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Top level nav */
.menu {
	float: left;
	margin: 0 auto;
}

/* Dropdowns */
.menu ul {
	position: absolute;
	top: 2.5em;
	left: -9999px;
	opacity: 0;
	-webkit-transition: 0.1s linear opacity;
	min-width:$navItemWidth;
	background: $NavdropdownColour;
}

.menu li {
	float: left;
	position: relative;
}

/* Top level nav items */
.menu li > a {
	float: left;
	padding: 10px 10px;
	color: $text;
	text-decoration: none;
	min-width:$navItemWidth;
	text-align:center;
}

/* Top level hover state, preserve hover state when hovering dropdown  */
.menu li > a:hover,
.menu li > a:focus,
.menu li:focus > a,
.menu li:hover > a {
	background: $NavdropdownColour;
	outline: 0;
	color:$white;
	min-width:$navItemWidth;
}

/* Rounded corners for first top level nav item */
.menu > li:first-child > a {
	border-left: 0;
}

/* Rounded corners for last top level nav item */
.menu > li:last-child > a {
	border-right: 0;
}

.menu li:hover ul,
.menu li:focus ul,
ul.show-menu {
	left: 0;
	opacity: 0.99;
}

.menu ul li {
	float: none;
	position: static;
}

.menu ul a {
	float: none;
	display: block;
	color: $white;
	-webkit-transition: 0.1s linear all;
	text-align:left;
}

.menu ul a:hover,
.menu ul a:focus {
	background: $white;
	color: $text;
	text-shadow: none;
}

p { clear: both; }