.siteNavigation {
	float:left;
}

.siteMenu,
.siteMenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Top level nav */
.siteMenu {
	float: left;
	margin: 0 auto;
}

/* Dropdowns */
.siteMenu ul {
	position: absolute;
	top: 2em;
	left: -9999px;
	opacity: 0;
	-webkit-transition: 0.1s linear opacity;
	min-width:$navItemWidth;
	background: $NavdropdownColour;
}

.siteMenu li {
	float: left;
	position: relative;
}

/* Top level nav items */
.siteMenu li > a {
	float: left;
	padding: 10px 10px;
	color: $text;
	text-decoration: none;
	min-width:$navItemWidth;
	text-align:center;
}

/* Top level hover state, preserve hover state when hovering dropdown  */
.siteMenu li > a:hover,
.siteMenu li > a:focus,
.siteMenu li:focus > a,
.siteMenu li:hover > a {
	background: $NavdropdownColour;
	outline: 0;
	color:$white;
	min-width:$navItemWidth;
}

/* Rounded corners for first top level nav item */
.siteMenu > li:first-child > a {
	border-left: 0;
}

/* Rounded corners for last top level nav item */
.siteMenu > li:last-child > a {
	border-right: 0;
}

.siteMenu li:hover ul,
.siteMenu li:focus ul,
ul.show-menu {
	left: 0;
	opacity: 0.99;
}

.siteMenu ul li {
	float: none;
	position: static;
}

.siteMenu ul a {
	float: none;
	display: block;
	color: $white;
	-webkit-transition: 0.1s linear all;
	text-align:left;
}

.siteMenu ul a:hover,
.siteMenu ul a:focus {
	background: $white;
	color: $text;
	text-shadow: none;
}

p { clear: both; }