// *
// *
// * Typography Mixins
// *
// *

// function - converts px to em
// Source: https://css-tricks.com/snippets/sass/px-to-em-functions/

// Example of PX to EM Usage:
// h1 {
//   font-size: em(32);
// }

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// function - converts px to rem
// Source: http://www.stubbornella.org/content/2013/07/01/easy-peasy-rem-conversion-with-sass/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

// Example of PX to REM Usage:
// h1 {
//  @include fontSize(32px);
// }

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin lineHeight($size) {
  line-height: $size; //Fallback in px
  line-height: calculateRem($size);
}

// heading font family
// ---------------
@mixin heading-font {
font:{
  family: $headingFont;
  style: normal;
  weight: 400;
  }
}

// body font family
// ---------------
@mixin body-font {
font:{
  family: $bodyFont;
  style: normal;
  weight: 400;
  }
}

// body font Sizing
// ---------------
@mixin normal-font-size {
 @include fontSize(18px);
 @include lineHeight(28px);
 word-wrap:break-word;
}