body {
	background: $bg;
	margin: 0;
	padding: 0;
	max-width: $width-outer;
}
#page {
	width: $width;
	padding: 0 15px;
}
#main {
	clear: both;
}
#primary {
	float: left;
	margin: 0;
	max-width: $primary-width;
}
#content {
	margin: 0;
	width: 100%;
	float: left;
}
#primary.full-width,
#primary.full-width #content {
	width: 100%;
	float: none;
}
#secondary {
	float: right;
	padding: 0;
	max-width: $secondary-width;
}
#colophon {
	clear: both;
	overflow: hidden;
}
/* Sticky footer */
@include sticky-footer(50px, '#page','#main','#colophon');