/* BASE VARIABLES
 *******************/

/* Sizes */
$width: 80em;
$width-outer: $width + 10em;

/* Colors */
$text: #555;
$links: blue;
$hover: red;

$bg: #FFF;

/* Fonts */
$main: sans-serif;

/* Borders */
$border: 1px solid #000;