/* BASE VARIABLES
 *******************/

/* Sizes */
$width: 95%;
$width-outer: $width + 5%;
$primary-width: $width - 10%;
$secondary-width: $width; 

// $flexslider-width: $width / 2;
 
/* Colors */
$text: #555;
$links: grey;
$hover: navy;

$bg: #FFF;

/* Fonts */
$main: sans-serif;

/* Borders */
$border: 1px solid #000;