/* BASE VARIABLES
 *******************/

/* Sizes */
$width: 85%;
$width-outer: $width + 5%;
$primary: $width - 10%;
$secondary: $primary * .3; 

/* Colors */
$text: #555;
$links: grey;
$hover: navy;

$bg: #FFF;

/* Fonts */
$main: sans-serif;

/* Borders */
$border: 1px solid #000;