/**
*
* Layout
*
**/

body {
	background: $backgroundColour;
	margin: 0;
	padding: 0;
}

#main {
	clear: both;
}

.container { 
	max-width:$mainContent;
	width:$width;
	margin:0 auto;
} // .container


#colophon {
	clear: both;
	overflow: hidden;
}

@include breakpoint(tiny){
	/* Sticky footer */
	@include sticky-footer(100px, '#page','#main','#colophon');
}