 // BASE VARIABLES
 // ******************

// Sizes
$width: 95%;
$mainContent: 1100px;
// $primary-width: 75%;
// $secondary-width: 25%;

 
// Website Colour Palette
// --------------------

$almostBlack: 	#222;
$blue: 			blue;
$red:	 		#B10808;
$white: 		#fff;
$purple:		purple;
// more colours here


// Colour Usage:
// ------------

$text:			$almostBlack;
$linkColour: 	$blue;
$hoverColour: 	$red;
$colour1: 		$purple;
// $colour2: ;
// $colour3: ;
// $colour4: ;
// $colour5: ;
// $colour6: ;
// $colour7: ;
// $colour8: ;
// $colour9: ;
// $colour10: ;

// -----------------

$backgroundColour: $white;

// Navigation Variables
// -------------------
$NavdropdownColour: $hoverColour;
$navItemWidth: 		130px;

// Fonts
// -----
$bodyFont: 		'Source Sans Pro', sans-serif;
$headingFont: 	'Lato', sans-serif;

// Borders
// -------
$border: 		1px solid #444;
