 // BASE VARIABLES
 // ******************

// Sizes
$width: 95%;
$mainContent: 1100px;
// $primary-width: 75%;
// $secondary-width: 25%;

 
// Website Colour Palette
// --------------------

$almostBlack: 	#222;
$blue: 			blue;
$red:	 		#B10808;
$white: 		#fff;
$purple:		purple;
$gray:			#888888;
// more colours here


// Colour Setup:
// ------------

$colour1: 		$purple;
$colour2: 		$red;
$colour3:		$blue;	
$colour4: 		$gray;
// $colour5: ;
// $colour6: ;
// $colour7: ;
// $colour8: ;
// $colour9: ;
// $colour10: ;

// -----------------


// Colour Usage:
// ------------


$backgroundColour: $white;
$text:			$almostBlack;
$linkColour: 	$colour1;
$hoverColour: 	$colour2;

// Navigation Variables
// -------------------
$NavdropdownColour: $hoverColour;
$navItemWidth: 		130px;

// Fonts
// -----
$bodyFont: 		'Open Sans', sans-serif;
$headingFont: 	$bodyFont;

// Borders
// -------
$border: 		1px solid #444;
