/*==================================
=            Filter Nav            =
==================================*/

.filterControls {
	margin-bottom:50px;
}

.filterResults {
	float:left;
	min-height:50px;
}

ul.filterNav li {
	list-style-type: none;
	display:inline-block;
	float:left;
	text-align:center;
	margin:3px;
	font-size:24px;
	padding:2px;
} 

a.filterControl{
	text-transform:uppercase;
	color:purple;
	text-decoration:none;
	&:hover {
		border-bottom: 2px solid #333;
	}
} // li a.filterControl


/*-----  End of Filter Nav  ------*/