/*=====================================
=            Project Items            =
=====================================*/

.projectItem {
	max-width:25%;
	background:white;
	float:left;
	margin:2%;
	border:2px solid black;
}



/*-----  End of Project Items  ------*/

