body {
	background: $bg;
	margin: 0;
	padding: 0;
	width: $width-outer;
}

#main {
	clear: both;
}

.container {
	margin: 0 auto;
	max-width: $primary-width;

	    @include breakpoint(giant) { /* min-width: 1600px */
	      max-width: $primary-width - 10%; // 70%
	    }    

	    @include breakpoint(huge) { /* max-width: 1600px */
	      max-width: $primary-width + 10%; // 80%
	    }	    

	    @include breakpoint(medium) { /* max-width: 1150px */
	      max-width: $primary-width + 15%; // 85%
	    }

	    @include breakpoint(little) { /* max-width: 800px */
	      max-width: $width;
	      @include small-font-size;
	    }
}



#primary {
	float: left;
	margin: 0;
	max-width: $primary-width;
}
#content {
	margin: 0;
	width: 100%;
	float: left;
}
#primary.full-width,
#primary.full-width #content {
	width: 100%;
	float: none;
}
#secondary {
	float: right;
	padding: 0;
	max-width: $secondary-width;
}
#colophon {
	clear: both;
	overflow: hidden;
}
/* Sticky footer */
@include sticky-footer(100px, '#page','#main','#colophon');