body {
	background: $bg;
	margin: 0;
	padding: 0;
	width: $width-outer;
}

#main {
	clear: both;
}

.contentWrapper {
	width:$width-outer;
}

.contentContainer { 
	margin: 0 auto;
	max-width: $mainContent;
	padding:2% 0 0 0;

	    @include breakpoint(giant) { /* min-width: 1600px */
	      max-width: $mainContent - 10%; // 70%
	    }    

	    @include breakpoint(huge) { /* max-width: 1600px */
	      max-width: $mainContent + 10%; // 80%
	    }	    

	    @include breakpoint(medium) { /* max-width: 1150px */
	      max-width: $mainContent + 15%; // 85%
	    }

	    @include breakpoint(little) { /* max-width: 800px */
	      max-width: $width;
	      @include small-font-size;
	    }

	    &.contentWithAside { // styles widths of layouts with a sidebar

    	    #primary {
    			width:$primary-width;
    			float:left;

    			@include breakpoint(medium){
    				width:$primary-width - 10%;
    			}
    			@include breakpoint(little){
    				width:$width;
    			}    			
    	    } // #primary

    	    #secondary {
    			width:$secondary-width;
    			float:left;
    			padding:0 0 0 5%;

    			@include breakpoint(medium){
    				width:$secondary-width + 10%;
    			}
    			@include breakpoint(little){
    				width:$width;
    				padding: 0;
    				// display sidebar content in columns at little breakpoint
    				column-count:2;

    				.widget {
    					width:100%;
    					display:inline-block;
    				}
    			}
    			@include breakpoint(tiny){
    				column-count:1;
    			}
    	    } // #secondary

	    } // contentWithAside
}

#content {
	margin: 0;
	width: 100%;
	float: left;
}
#primary.full-width,
#primary.full-width #content {
	width: 100%;
	float: none;
}

#colophon {
	clear: both;
	overflow: hidden;
}
/* Sticky footer */
@include sticky-footer(100px, '#page','#main','#colophon');

// testing sections

// .contentWrapper {
// 	background-color:rgba(pink,0.5);
// }
// .contentContainer {
// 	background-color:rgba(red,0.5);
// }

// .contentContainer #primary{
// 	background-color:rgba(yellow,0.5);
// }

// .contentWithAside {
// 	background-color:rgba(purple,0.3);
// }
// .contentWithAside #primary {
// 	background-color:rgba(green,0.4);
// }
// .contentWithAside #secondary {
// 	background-color:rgba(blue,0.4);
// }