/*================================
=            # Layout            =
================================*/

body {
	background: $backgroundColour;
	margin: 0;
	padding: 0;
}

#main {
	clear: both;
}

// [TO DO: remove #main from this selector for new projects]
#main, 
.container { 
	max-width:$mainContent;
	width:$width;
	margin:0 auto;
} // .container


#colophon {
	clear: both;
	overflow: hidden;
}

@include breakpoint(tiny){
	/* Sticky footer */
	@include sticky-footer(100px, '#page','#main','#colophon');
}

/*=====  End of Layout  ======*/