/*================================
=            # Layout            =
================================*/

// Settings below = flexbox sticky footer
body {
	display:flex;
	min-height:100vh;
	flex-direction:column;
	justify-content:space-between;
}

// [TO DO: remove #main from this selector for new projects]
#main, 
.container { 
	max-width:$mainContent;
	width:$width;
	margin:0 auto;
} // .container


/*=====  End of Layout  ======*/