/* BASE VARIABLES
 *******************/

/* Sizes */
$width: 95%;
$width-outer: $width + 5%;
$primary-width: $width - 10%;
$secondary-width: $width; 

// $flexslider-width: $width / 2;
 
/* Colors */
$text: #555;
$links: grey;
$hover: navy;

$bg: rgba(108, 103, 103, 0.12);

/* Fonts */
$body-font: 'Source Sans Pro', sans-serif;;
$heading-font: 'Lato', sans-serif;;
// $second-heading-font: ;

/* Borders */
$border: 1px solid #000;