 // BASE VARIABLES
 // ******************

// Sizes
$width: 95%;
$width-outer: 100%;
$mainContent: $width - 25%;
$primary-width: 75%;
$secondary-width: 25%;

 
// Colors
$text: #222;
$links: blue;
$hover: #B10808;
$white: #fff;


$bg: $white;

// navigation
$navDropdown-bg : rgba($hover,0.9);
$navItem-width: 130px;


// Fonts
$body-font: 'Source Sans Pro', sans-serif;;
$heading-font: 'Lato', sans-serif;;
// $second-heading-font: ;

// Borders
$border: 1px solid #444;